/* ////////////////
//// Resources ////
/////////////////// */

.resources {
  background-color: #f5f5ef;
  padding-top: 20vh;
}

.section {
  display: flex;
  flex-direction: row;
}

.title {
  display: flex;
  align-items: flex-start;
  margin-left: 10%;
}

.title-img {
  height: 30vmin;
}

.content {
  margin-top: 10%;
  width: 47%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.github-logo {
  max-height: 300px;
  max-width: 100px;
}

.icon-tiny {
  width: 10%;
}

.icon-tiny-linkedin{
  width: 8%;
  margin: auto;
  padding: 1%;

}

.medium {
  max-height: 300px;
  max-width: 100px;
}

.resume-button {
  height: 50%;
}

.art-button {
  height: 350px;
  margin-left: 5%;
}

.content .hiking .iframe {
  width: 400px;
  margin: 0 auto;
  /* display: block; */
}

.mobileContent {
  display: hidden;
  position: absolute;
  left: -999em;
}

/* ////   Mobile   //// */

@media only screen and (max-width: 600px) {
  .desktopContent {
    display: hidden;
    position: absolute;
    left: -999em;
  }

  .resume-button {
    height: 20%;
    width: 80%;
  }

  .art-button {
    height: 20%;
    width: 80%;
    margin-left: 20%;
  }

  .hiking {
    display: flex;
    flex-direction: row;
  }

  .mobileContent {
    display: visible;
    position: absolute;
    left: 0em;
  }
}
