.writing-page {
    padding-top: 20vh;
}

.writing-title{
padding-left: 3vh;
}

/* ////   Mobile   //// */

@media only screen and (max-width: 600px) {
    .writing-page {
        padding-top: 10vh;
    }

    .writing-title{
        padding-left: 2vh;
        }
        
} 