
/* ////////////////
/////// Nav ///////
/////////////////// */

.Nav {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 0;
  background-color: #f5f5ef;
  height: 17vh;
}

.nav-logo {
  height: 17vh;
}

.nav-links {
  height: 15vmin;
}

.Link {
  margin: auto;
}