
/* ////////////////
/////// Nav ///////
/////////////////// */

.Nav {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 0;
  background-color: #f5f5ef;
}

.nav-logo {
  height: 20vmin;
}

.nav-links {
  height: 15vmin;
}

.Link {
  margin: auto;
}

/* ////////////////
////// Main ///////
/////////////////// */

.app {
  text-align: center;
  background-color: #f5f5ef;
}

.app-logo{
  height: 50vmin;
  pointer-events: none;
}

.app-link {
  color: #61dafb;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.column1 {
  text-align: left;
}

.column2 {
  text-align: right;
}

.about-me {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  padding-bottom: 7%
}

.subtext {
  font-size: 10px;
}

/* ////   Mobile   //// */

@media only screen and (max-width: 600px) {

  .about-me {
    font-size: 12px;
    margin-bottom: 10%;
  }
}

/* ////////////////
//// Resources ////
/////////////////// */

.section {
  display: flex;
  flex-direction: row;
}

.title {
  display: flex;
  align-items: flex-start;
  margin-left: 10%;
}

.title-img {
  height: 30vmin;
}

.content {
  margin-top: 10%;
  
}
