/* ////////////////
/////// Nav ///////
/////////////////// */

.Nav {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 0;
  background-color: #f5f5ef;
}

.nav-logo {
  height: 20vmin;
}

.Nav-links {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 10px; 
}

.Nav-links a {
  text-decoration: none;
}

.Link {
  margin: auto;
}

/* ////////////////
////// Main ///////
/////////////////// */

.app {
  text-align: center;
  background-color: #f5f5ef;
}

.app-logo{
  height: 50vmin;
  pointer-events: none;
}

.app-link {
  color: #61dafb;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.column1 {
  text-align: left;
}

.column2 {
  text-align: right;
}

.about-me {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

.subtext {
  font-size: 10px;
}

/* ////   Mobile   //// */

@media only screen and (max-width: 600px) {
  .columns {
    border-bottom: 1px solid grey;
    flex-direction: column;
  }

  .about-me {
    font-size: 12px;
    margin-bottom: 10%;
  }
}

/* ////////////////
//// Resources ////
/////////////////// */

.title {
  margin-left: 3.2%;
}

.subtitle {
  height: 20vmin;
}

.column1b {
  text-align: left;
  width: 50%;
}

.column2b {
  text-align: left;
  width: 50%;
}
