@font-face {
  font-family: 'Evolventa';
  src: local('Evolventa'), url(./fonts/Evolventa-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Evolventa';
  font-weight: 900;
  src: local('Evolventa'), url(./fonts/Evolventa-Bold.otf) format('opentype');
}

body {
  margin: 0;
  font-family: Evolventa, Arial, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
